mat-card {
  width: 70%;
  margin: 0 auto;
  margin-top: 60px;
}

button {
  margin-top: 30px;
  background-color: darkmagenta;
}
div {
  text-align: center;
}

h2 {
  margin-top: 20px;
  text-align: center;
}
